body {
    background-color: rgb(90, 101, 109);
    color: white;
    font-family: monospace;
    margin: 0px;
    min-width: 400px;
    padding: 5px;
}
* {
    box-sizing: border-box;
    max-width: 400px;
}
/*Add new tasks bar*/
#taskcontainer {
    overflow: auto;
    max-height: 175px;
}
/*Scrollbar*/
::-webkit-scrollbar {
    background:  rgb(63, 77, 88);
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background:  rgb(120, 131, 139);
    border-radius: 20px;
}
/*Task Name + Button*/
#currentTask {
    margin: 6px;
    width: 270px;
}
#addButton {
    background-color: rgb(42, 50, 61);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px;
    margin: 10px;
    font-size: 15px;
    font-family: monospace;
}
#addButton:hover {
    background-color: rgb(43, 87, 107);
    cursor: pointer;
}
/*Style of added tasks*/
ul {
    margin: 0;
    padding: 0;
}
ul li {
    font-size: 15px;
    cursor: pointer;
    padding: 7px 7px 10px;
    background: rgb(63, 77, 88);
    margin-left: 10px;
}
ul li:hover {
    background:rgb(75, 101, 124)
}
input[type=text] {
    border-radius: 5px;
    border-style: none;
    font-family: monospace;
    font-size: 15px;
    padding-left: 15px;
    padding: 10px;
}
/*delete button*/
.delete {
    font-size: 15px;
    padding: 7px 10px 10px 10px;
    right: 10px;
}
.delete:hover {
    background: rgb(134, 80, 80);
}
